# Build directories
build/
bin/
obj/
out/
box-modules/
vcpkg_installed/

# Compiled binaries and libraries
neutronc
/neutron
*.exe
*.dll
*.so
*.so.*
*.dylib
*.dylib.*
*.lib
*.a
*.o
*.obj

# Runtime libraries (with version suffixes)
libneutron_runtime.so
libneutron_runtime.so.*
libneutron_runtime.dylib
libneutron_runtime.dylib.*
libneutron_runtime.dll
libneutron_runtime.a

# IDE files
.vscode/
.idea/
*.swp
*.swo
.vs/
*.txt

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
.vs/
*.tmp
*.log
*.bak
*~
*.swp

# Environment files
.env
.env.local
.env.*.local
testing.env

# Debug files
debug/
gdb_history
*.dSYM/s

# External dependencises
external/

# Benchmark
benchmark/

# Valgrind
*.vgcore
*.memcheck

# CMake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile.cmake
cmake_install.cmake

# Clang
compile_commands.json

# Tags
tags
TAGS
cscope.*

# Package files
*.zip
*.tar.gz
*.rar

# Coverage
*.gcda
*.gcno
*.gcov
coverage/
dev_tests/
.box/
box
releases/libneutron_runtime.so.*
releases/
*.backup
nt-box
*.diff

# Freely distributed binaries
neutron-linux-x64/
neutron-windows-x64/
neutron-macos-x64/
neutron-macos-arm64/
neutron-*.zip
neutron-*.tar.gz
neutron-*.rar

# Snaps
*.snap