.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/*.md
**/node_modules/**/*.txt
**/node_modules/**/LICENSE*
**/node_modules/**/CHANGELOG*
**/node_modules/**/README*
**/node_modules/**/.github/**
**/node_modules/**/docs/**
**/node_modules/**/examples/**
**/node_modules/**/sample/**
**/node_modules/**/samples/**
**/node_modules/**/*.d.ts.map
**/node_modules/**/*.js.map